.about-me-lg {
    /* display: grid; */
    justify-content: center;
    padding-top: 1rem;
    /* margin: 2rem 0; */
}

.about-me-sm {
    /* background-color: black; */
    /* display: grid;
    justify-content: center; */
    /* width: 1200px;
    height: 650px; */
    border-radius: 1rem;
    padding: 0 5rem;
}

.about-me-header {
    margin-bottom: 1rem;
}

.about-me-text {
    padding: 1rem 0;
}