.about-me-lg {
    justify-content: center;
    padding-top: 1rem;
}

.about-me-sm {
    border-radius: 1rem;
    padding: 0 5rem;
}

.about-me-header {
    margin-bottom: 1rem;
}

.about-me-text {
    padding: 1rem 0;
}