body {
  margin: 0 auto;
  place-items: center;
}

a:hover {
  color: #ffffff;
}

.container-fluid {
  padding: 0 1rem;
  padding-top: 1rem;
  background-color: #808080;
  min-height: 100vh;
}

.name-card {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
}

.name-card-text {
  margin: auto;
  padding-top: 1rem;
}

.name-card-role {
  margin: auto;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.imgWrapper {
  max-width: 500px;
  border-radius: 50%;
}

.resumeImg {
  max-width: 700px;
}
