/* Responsiveness */

@media only screen and (max-width: 1170px) {
  .container-fluid {
    padding: 0;
    background: black;
    color: #808080;
  }

  .about-me-sm {
    width: 350px;
    padding: 1rem;
  }
  .name-card-text {
    font-size: 2rem;
  }
  .name-card-role {
    font-size: 1rem;
  }
  .about-me-text {
    font-size: 0.8rem;
  }

  .project-card {
    color: black;
  }
  .card-link {
    color: black;
  }
  
  .card-link:hover {
    color: #213547;
  }

  .footer-text,
  .footer-mail,
  .footer-link {
    color: #808080;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0;
    background: black;
    color: #808080;
  }

  .navbar-nav ul a {
    font-size: 15px;
    color: #808080;
  }
  .imgWrapper {
    max-width: 200px;
    border-radius: 50%;
  }

  .resumeImg {
    max-width: 300px;
  }
  .name-card {
    display: grid;
    padding: 0;
    padding-top: 0.4rem;
  }

  .name-card-text {
    font-size: 20px;
    margin: auto;
    padding: 0;
  }

  .name-card-role {
    font-size: 10px;
  }

  .name-card-img {
    height: 200px;
    width: 200px;
  }
  .about-me-lg {
    padding: 0;
  }
  .about-me-sm {
    width: 350px;
    padding: 0.5rem;
  }

  .about-me-header {
    font-size: 15px;
    margin-bottom: 0;
  }

  .break-text {
    display: none;
  }

  .about-me-text {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .project-header {
    font-size: 15px;
    padding: 0;
  }

  .project-card {
    margin-bottom: 1rem;
  }

  .project-name {
    font-size: 20px;
  }

  .project-text {
    font-size: 10px;
    margin: 0;
  }

  .card-link {
    margin: 0 0.5rem;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  .footer-wrapper {
    margin-top: 10px;
  }

  .footer-text,
  .footer-mail {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-nav ul a {
    font-size: 10px;
    color: #808080;
  }

  .project-wrapper {
    display: grid;
    width: 280px;
  }

  .project-card {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 100%;
  }
  .footer-text,
  .footer-mail {
    font-size: 10px;
  }
}
